.account-password {
    &::v-deep {
        .v-card {
            &.gray {
                @include respond-to("large") {
                    background: $wild-sand;
                }
                @include respond-to("xlarge") {
                    background: $wild-sand;
                }
            }
        }
        @include icon("icon-avatar");
        .icon-avatar {
            font-size: rem(51.25);
            line-height: 1.2em;
            background-color: $orange;
            background-image: linear-gradient(to top, #ff5200, #ff9200);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }
}

.color-link {
    color: $blue-link;
}

.v-text-field {
    &::v-deep {
        @include icon(
            ("icon-show-password", "icon-hide-password"),
            (
                class: "v-icon",
            )
        );
        .v-icon {
            font-size: rem(16);
        }
        &:not(.field--sidebar) {
            &:not(.field--active) {
                .v-input__append-inner {
                    display: none;
                }
            }
        }
    }
}

.theme--light.v-btn {
    &.gray--text {
        border-color: rgba($black, 0.08);
    }
}
