@import "../../assets/scss/03_organisms/flags";
.flags {
    width: rem(25);
    height: rem(25);
    display: inline-block;
    @each $_flag in $_flags {
        // @include flag(nth($_flag, 1), round);
        @include flag(nth($_flag, 1), round);
    }
}
.select-menu-list {
    max-width: rem(296);
    @include respond-to("small") {
        max-width: 100%;
    }
    @include respond-to("xsmall") {
        max-width: 100%;
    }
    &::v-deep {
        .v-app-bar {
            height: rem(72);
            .v-toolbar__content {
                height: 100%;
            }
        }
    }
}
.v-overlay {
    &::v-deep {
        .v-overlay__content {
            width: 100%;
            height: 100%;
            div {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.color-link {
    color: $blue-link;
}
@include icon("icon-stick-arrow-left");
.v-dialog__content {
    &::v-deep {
        .v-list-item {
            height: rem(56);
        }
    }
}
