@import "../../assets/scss/06_overlaps/_v-tabs.scss";
.theme--light.v-tabs-items {
    background-color: transparent;
}
.visibility-hidden {
    visibility: hidden;
}
.summary-cards {
    border-radius: rem(8);
}
