%-is-text {
    .v-input__control {
        > .v-input__slot {
            &:before,
            &:after {
                opacity: 0;
            }
        }
        > .v-input__slot {
            padding: 0;
            background: transparent;
        }
    }
    &.v-text-field--filled {
        .v-input__control {
            > .v-input__slot {
                padding: 0;
                background: transparent;
            }
        }
        &:not(.v-input--is-focused) {
            &:not(.v-input--has-state) {
                > .v-input__control {
                    > .v-input__slot {
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

.v-input {
    input {
        font-weight: bold;
    }
    .v-input__control {
        > .v-input__slot {
            &:after {
                border-color: $orange !important;
            }
        }
    }
    &.is-text {
        &:not(.field--sidebar) {
            @extend %-is-text;
        }
        &.field--sidebar {
            &:not(.field--active) {
                @extend %-is-text;
            }
        }
    }
}
// .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)
//     > .v-input__control
//     > .v-input__slot:hover {
//     background: transparent !important;
// }
