<?xml version="1.0"?>
<ArrayOfLanguageInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LanguageInfo Index ="1"   Display="English"          Value="en-gb" Code="en"  LegacyCode ="ENG" />
  <LanguageInfo Index ="2"   Display="Bahasa Indibesia" Value="id-id" Code="in" LegacyCode ="IND" />
  <LanguageInfo Index ="3"   Display="日本語"            Value="ja-jp" Code="ja" LegacyCode ="JPN" />
  <LanguageInfo Index ="4"   Display="ភាសាខ្មែរ"          Value="km-kh" Code="km" LegacyCode ="KMH" />
  <LanguageInfo Index ="5"   Display="한국어"            Value="ko-kr" Code="ko" LegacyCode ="KOR" />
  <LanguageInfo Index ="6"   Display="ไทย"               Value="th-th" Code="th" LegacyCode ="THA" />
  <LanguageInfo Index ="7"   Display="Tiếng Việt"        Value="vi-vn" Code="vi" LegacyCode ="VIE" />
  <LanguageInfo Index ="8"   Display="中文(简体)"         Value="zh-cn" Code="chs" LegacyCode ="CHS" />
</ArrayOfLanguageInfo>