<log4net>
  <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender" >
    <file value="D:\P005\Logs\Affiliate.bo\All.log"/>
    <appendToFile value="true"/>
    <rollingStyle   value="Composite"/>
    <datePattern    value="_yyyy-MM-dd-HH.lo\g"/>
    <maximumFileSize     value="5MB"/>
    <maxSizeRollBackups  value="50"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread] [%logger] [%level] [%-14c{1}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="Eventslogger" type="log4net.Appender.RollingFileAppender">
    <file value="D:\P005\Logs\Affiliate.bo\Events.log" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="60" />
    <maximumFileSize value="5000KB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%level] [%logger] %message%newline" />
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="EVENTS" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="Performancelogger" type="log4net.Appender.RollingFileAppender">
    <file value="D:\P005\Logs\Affiliate.bo\Performance.log"/>
    <appendToFile value="true"/>
    <maximumFileSize value="5000KB"/>
    <maxSizeRollBackups value="60"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%logger] [%level] [%-14c{1}] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="Performance"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <appender name="Requestlogger" type="log4net.Appender.RollingFileAppender">
    <file value="D:\P005\Logs\Affiliate.bo\Request.log"/>
    <appendToFile value="true"/>
    <maximumFileSize value="5000KB"/>
    <maxSizeRollBackups value="60"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%level] [%logger] %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="RequestBody"/>
    </filter>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="ResponseBody"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <appender name="ExceptionLogger" type="log4net.Appender.RollingFileAppender">
    <file value="D:\P005\Logs\Affiliate.bo\Exception.log"/>
    <appendToFile value="true"/>
    <maximumFileSize value="5000KB"/>
    <maxSizeRollBackups value="30"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%logger] [%level] [%property{method}] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="Exception"/>
    </filter>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="GeneralLog" />
    <appender-ref ref="Eventslogger"/>
    <appender-ref ref="Performancelogger"/>
    <appender-ref ref="ExceptionLogger" />
    <appender-ref ref="Requestlogger" />
  </root>
</log4net>