<?xml version="1.0"?>
<ArrayOfSubDomainSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SubDomainSetting name="cdn" url="http://localhost:8080" isDynamic="false" />
  <!--<SubDomainSetting name="cdn" url="https://cdn.188bet.green//cdn1133/" isDynamic="false" />-->
</ArrayOfSubDomainSetting>
